.mainContent {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "sidebar-left content sidebar-right"
    "footer   footer  footer";
  main {
    grid-area: content;
  }
  footer {
    grid-area: footer;
    width: 100%;
    z-index: 100;
  }
  grid-template-rows: auto 4rem;
  grid-template-columns: 13rem 6fr 13rem;
}

.headerStuff {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
